/* ==========
    RESETS
   ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

img {
    display: block;
    width: 100%;
}
li {
    list-style-type: none;
}

/* ==========
    SPACING
   ========== */
.mb-1 {
    margin-bottom: 0.5em;
}
.mb-2 {
    margin-bottom: 1em;
}
.mb-3 {
    margin-bottom: 1.5em;
}
.mb-4 {
    margin-bottom: 2em;
}
.m-auto {
    margin: auto;
}

/* ==========
    TYPOGRAPHY
   ========== */
.h1 {
    font-size: 2.4em;
}
.h2 {
    font-size: 1.6em;
}
.small {
    font-size: 0.8em;
}

/* ==========
    POSITIONING
   ========== */
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
/* ==========
    DISPLAY
   ========== */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
/* ==========
    FLEXERS
   ========== */
.d-flex.col {
    flex-direction: column;
}
.d-flex.center {
    justify-content: center;
}
.d-flex.center-cross {
    align-items: center;
}
/* ==========
    ANCORA SPARSE
   ========== */

body {
    background-color: #1d2226;
    color: white;
    font-family: sans-serif;
}

.action-button {
    color: white;
    background-color: #1d2226;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}
.frame {
    border: 1px solid black;
    overflow: hidden;
    border-radius: 50%;
}

canvas {
    border: 1px solid white;
    margin-left: 50%;
    transform: translateX(-50%);
}
.layover {
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    cursor: crosshair;
}
.layover-banner {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.4em;
    width: max-content;
    color: white;
    border-radius: 5px;
}
