<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cropper</title>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="root">
        <main>
            <div class="pic-container">
                <div class="frame"
                    style="height: 300px; width: 300px; position: relative; border: 1px solid black; overflow: hidden;">
                    <img :src="preload ? preload : 'img/default-user.png'" alt=""
                        :style="`transform: scale(${size}%); transform-origin: ${x}px ${y}px;`"
                        @mousedown.left="selectPic" @dragstart="movePic(event)" @mousemove="move(event)"
                        @mouseup.left="isPicSelected = false">
                </div>
                <input type="file" name="" id="" v-on:change="preloadPic($event)">
                <input type="range" name="" id="size" min="1" max="100" :value="size" v-model="size" v-if="preload"
                    style="transform: rotate(-90deg)">
            </div>

        </main>
    </div>
    <script src="js/app.js"></script>

</body>

</html>