<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cropper</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- Custom script -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="c-1">
    <!-- div#root -->
    <div id="root">
        <!-- header -->
        <header class="d-flex col center-cross mb-3">
            <h1 class="h1 mb-1 c-2">CROPPER</h1>
            <p class="text-center bg-c-1">Strumento per croppare le immagine, filtrarle, e salvarle in una canvas. <br>
                Funziona male su Safari, che non supporta i filtri sulle canvas.</p>
        </header>
        <!-- END header -->

        <!-- main -->
        <main class="d-flex col center-cross">
            <!-- div.pic-container -->
            <div class="pic-container mb-1" @click="disselect">
                <div class="frame rel" style="height: 400px; width: 400px;">
                    <!-- default img -->
                    <img v-if="!preload" src="img/default-user.png" alt="default user">
                    <!-- loaded img -->
                    <img v-else :src="preload" alt="user image" id="image" class="abs" :style="`width: ${pic_width*size}%; filter: sepia(${sepia}%) grayscale(${grayscale}%); height:auto; left: ${x}; 
                            top: ${y};`" @mousedown.left="selectPic" @dragstart="movePic(event)">
                    <!-- div.layover -->
                    <div class="layover abs d-flex col center center-cross" v-if="isPicSelected"
                        @mousemove="move(event)" @mouseup.left="disselect" @mouseleave="disselect">
                        <p class="layover-banner">
                            Trascina l'immagine per riposizionarla
                        </p>
                    </div>
                    <!-- END div.layover -->
                </div>
            </div>
            <!-- END div.pic-container -->

            <!-- div.actions -->
            <div class="actions mb-3" v-if="!editing">
                <!-- button upload -->
                <button>
                    <label for="upload" class="action-button d-flex col center-cross">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                            fill="white" width="24" height="24" focusable="false">
                            <path
                                d="M16 13a4 4 0 11-4-4 4 4 0 014 4zm6-4v11H2V9a3 3 0 013-3h1.3l1.2-3h9l1.2 3H19a3 3 0 013 3zm-5 4a5 5 0 10-5 5 5 5 0 005-5z">
                            </path>
                        </svg>
                        Carica immagine</label>
                    <input type="file" accept="image/*" name="upload" id="upload" class="d-none"
                        v-on:change="preloadPic($event)">
                </button>
                <!-- END button upload -->

                <!-- button edit -->
                <button @click="editing = true" v-if="preload">
                    <div class="action-button d-flex col center-cross">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                            fill="white" width="24" height="24" focusable="false">
                            <path
                                d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                            </path>
                        </svg>
                        <span>Modifica</span>
                    </div>
                </button>
                <!-- END button edit -->

            </div>
            <!-- END div.actions -->

            <!-- div.tools -->
            <div class="tools mb-3" v-if="editing">

                <ul class="d-flex">
                    <!-- range size: zooma l'immagine -->
                    <li class="d-flex col tool rel">
                        <span class="tool-tot abs">{{ size }}</span>
                        <label for="size" class="d-block mb-2">Zoom</label>
                        <input type="range" name="size" id="size" class="tools-range" min="1" max="2" step="0.1"
                            :value="size" v-model="size" @mouseup.left="readjust">
                    </li>
                    <!-- END range size -->

                    <!-- range grayscale -->
                    <li class="d-flex col tool rel">
                        <!-- in % da 0 a 100, che poi quello usa la proprieta' filter delle canvas -->
                        <span class="tool-tot abs">{{ grayscale }}</span>
                        <label for="grayscale" class="d-block mb-2">Scala di grigi</label>
                        <input type="range" name="grayscale" id="grayscale" class="tools-range" min="0" max="100"
                            step="1" :value="grayscale" v-model="grayscale">
                    </li>
                    <!-- END range grayscale -->

                    <!-- range sepia -->
                    <li class="d-flex col tool rel">
                        <!--  Anche qui: in % da 0 a 100, che poi quello usa la proprieta' filter delle canvas -->
                        <span class="tool-tot abs">{{ sepia }}</span>
                        <label for="sepia" class="d-block mb-2">Sepia</label>
                        <input type="range" name="sepia" id="sepia" class="tools-range" min="0" max="100" step="1"
                            :value="sepia" v-model="sepia">
                    </li>
                    <!-- END range sepia -->

                    <!-- button exit -->
                    <li @click="editing = false" class="ml-auto">
                        <button aria-label="Chiudi">
                            <i class="fas fa-times"></i>
                        </button>
                    </li>
                    <!-- END button exit -->
                </ul>
            </div>
            <!-- END div.tools -->

            <!-- button save -->
            <div class="mb-3">
                <button @click="savePic" class="big-btn bg-c-2 c-1">Salva immagine</button>
            </div>
            <!-- END button save -->

            <!-- div.output -->
            <!-- l'immagine qua viene tagliata e se ne standarizza la risoluzione:
            è cosa voluta, che in teoria vorrebbe servire come strum per personalizzare immagini del profilo
            di utenti registrati (dove? Boh, da qualche parte). -->
            <div class="output mb-4">
                <h2 class="mb-2">Stampiamo immagine croppata, tanto per testare</h2>
                <canvas id="croppedImage" class="round" width="400" height="400" style="height: 400px; width: 400px;">
                </canvas>
            </div>
            <!-- END div.output -->
        </main>
        <!-- END main -->

        <!-- marchio di fabbrica -->
        <div class="created fix">Created with <i class="fas fa-heart"></i> for Nobody</div>
    </div>
    <!-- END div#root -->

    <!-- local js script -->
    <script src="js/app.js"></script>
</body>
</html>