<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cropper</title>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body @click="disselect">
    <div id="root">
        <main>
            <h1>Test su futuro vue component per il resizing + posizionamento di una foto</h1>
            <p style=" margin-top: 20vh;">Per ora funzia solo se si rimane entro la cornice, quindi a lv di esperienza utente non e' una manna.</p>
            <p>Cliccate sulla foto per spostarla all'interno della cornice, usate l'input range per ridimensionarla</p>
            <div class="pic-container" style="margin: auto; width: 25vh;" @click="disselect">
                <div class="frame"
                    style="height: 400px; width: 400px; position: relative; border: 1px solid black; overflow: hidden;">
                    <img v-if="!preload" src="img/default-user.png" alt="" style="width: 100%; height: auto;">
                    <img v-else :src="preload" alt=""
                        :style="`transform: scale(${size}); min-height: 100%; max-height: 200%; position:absolute; left: ${x}; top: ${y};`"
                        @mousedown.left="selectPic"
                        >
                        <div class="layover" style="position:absolute; left: 0; top: 0; background-color: rgba(255,255,255,0.4); width: 100%; height: 100%;"
                        v-if="isPicSelected"
                        @dragstart="movePic(event)" @mousemove="move(event)"
                        @mouseup.left="disselect"
                        @touchstart="selectPic"
                        @touchend="disselect"
                        @touchmove="move(event)">
                            <p style="position: relative; top:50%; left: 20%; transform: translate(0,-50%); background-color: rgba(0,0,0,0.5); padding: .4em; width: max-content; color: white; border-radius: 5px">Trascina l'immagine per riposizionarla</p>
                        </div>
                </div>
                <label for="upload">Carica immagine</label>
                <input type="file" name="" id="" value="upload" v-on:change="preloadPic($event)">
                <label for="size" v-if="preload">Regola imensioni foto</label>
                <input type="range" name="size" id="size" min="0.1" max="2" step="0.1" :value="size" v-model="size" v-if="preload"
                    >
            </div>

        </main>
    </div>
    <script src="js/app.js"></script>

</body>

</html>